.card {
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card.card--center-form {
    @include floatToCenter;
    top: 45%;
    margin-top: 0;
    background: transparent;
    box-shadow: none;
    @include mq('md') {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: $global-header-height * 2 auto 0;
    }
}
