{
    "presets": [
        "stage-3",
        "stage-2",
        ["es2015", { "modules": false }]
    ],
    "plugins": [
        "transform-runtime",
		"syntax-dynamic-import"
    ],
    "ignore": ["node_modules/*"]
}
