// APP LAYOUT

#app-header {
    &+#app-body {
        padding-top: $global-header-height;
    }
}
#app-body {
    min-height: 100vh;
}
#app-footer {
    margin-top: $global-header-height;
}

// BOOTSTRAP GRID
.container-fluid {
    padding: 0;
}
.container {
    max-width: 1200px;
}
