* {
    font-family: 'helvetica', sans-serif ;
    -webkit-font-smoothing: antialiased;
    outline: none;
    color: $grey800;
    &:focus {
        outline: none;
    }
}
html {
    font-size: 14px;
    @include mq('sm') {
        font-size: 16px;
    }
}
body {
    position: relative;
    overflow: hidden;
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    color: $primary;
    &:hover {
        text-decoration: none;
    }
}

// Dev
#webpack-hot-middleware-clientOverlay {
    * {
        color: $white;
        font-family: Menlo, Consolas, monospace;
    }
}
