* {
    font-family: 'helvetica', sans-serif ;
    -webkit-font-smoothing: antialiased;
    outline: none;
    color: $grey-800;
    &:focus {
        outline: none;
    }
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    color: $primary;
    &:hover {
        text-decoration: none;
    }
}

// Dev
#webpack-hot-middleware-clientOverlay {
    * {
        color: $white;
        font-family: Menlo, Consolas, monospace;
    }
}
