// MONO
$black: #000;
$white: #fff;

// GREY
$grey50: #FAFAFA;
$grey100: #F5F5F5;
$grey200: #EEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;
$grey: $grey500;

// BLUEGREY
$bluegrey50: #ECEFF1;
$bluegrey100: #CFD8DC;
$bluegrey200: #B0BEC5;
$bluegrey300: #90A4AE;
$bluegrey400: #78909C;
$bluegrey500: #607D8B;
$bluegrey600: #546E7A;
$bluegrey700: #455A64;
$bluegrey800: #37474F;
$bluegrey900: #263238;
$bluegrey: $bluegrey500;

$primary-color: #52bad5;

$red: #F44336;
$yellow: #FFEB3B;
$green: #4CAF50;
$blue: #4B7CF9;

$naver-color: #1EDC00;
$google-color: #D34836;