/* Node modules */
@import '~swiper/dist/css/swiper.css';
/* /Node moduels */

/* App modules */
@import './styles/__module__';
/* /App modules */

/* Page Transition */
.fade-enter-active, .fade-leave-active {
    transition: opacity .2s
}
.fade-enter, .fade-leave-to {
    opacity: 0
}
/* /Page Transition */
